<main class="bg-zinc-50 w-full flex flex-col items-center justify-center">
  <!--Container for contents-->
  <div class="lg:w-3/5 md:w-4/5">
    <h1 class="font-bold text-4xl text-center py-10">Let's get started!</h1>

    <%= render "form", message: @message %>

    <%#= link_to 'Back to messages', messages_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</main>
