<main class="bg-zinc-50 w-full flex flex-col items-center justify-center">
  <!--Container for contents-->
  <div class="lg:w-3/5 md:w-4/5">
    <h1 class="font-bold text-4xl text-center pt-10">Let's get started!</h1>
    <div class="italic text-gray-500 text-sm text-center pt-3 pb-10 px-10">Fill out the form below and we will get back with you shortly.  You can also give us ring at <span class="text-red-800 hover:underline">1-314-358-2100</span> or email us at <%= mail_to "support@timjedrek.com", class: "text-red-800 hover:underline" %>.  We're looking forward to meeting with you soon!</div>
    <%= render "form", message: @message %>

    <%#= link_to 'Back to messages', messages_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</main>
