<p class="text-white text-center pt-10">
  <%= link_to "Projects", projects_path, class: "hover:text-red-400" %> | 
  <%= link_to "Articles", articles_path, class: "hover:text-red-400" %> | 
  <%= link_to "Contact", new_message_path, class: "hover:text-red-400" %>
</p>