<div class="py-10">
  <%= link_to root_path do %>
    <%= image_tag 'main/logo-timjedrek' , class: "w-min invert grayscale brightness-0 hover:invert-0 hover:grayscale-0 hover:brightness-200 hover:contrast-75" %>
  <% end %>
</div>