<p class="flex flex-row justify-center gap-6">
<%= link_to "https://www.linkedin.com/in/tim-santos/" do%>
  <%= image_tag 'icons/linkedin' , class: "h-10 hover:brightness-125"%>
<% end %>
<%= link_to "https://github.com/timjedrek" do %>
  <%= image_tag 'icons/github' , class: "h-10 hover:brightness-125"%>
<% end %>
<!-- Add youtube? -->
</p>