  <p class="text-white text-center pt-10">
  <%= link_to "Home", root_path, class: "hover:text-red-400" %> | 
  <%= link_to "Client Websites", client_websites_path, class: "hover:text-red-400" %> | 
  <%= link_to "Example Sites", example_sites_path, class: "hover:text-red-400" %><br>
  </p>