<!--boxes flex container -->
  <div class="pt-10 flex flex-col lg:flex-row lg:gap-10">
    <!--box1 - Static Websites-->
    <div class="mb-10 bg-white lg:w-1/3">
      <div class="border-2 rounded-t-lg">
        <h3 class="font-semibold text-xl p-5">Website Design</h3>
        <p class="text-gray-600 py-10 px-5">
          We work with you to create a custom static website to get your information out
        </p>
        <p class="font-bold text-center text-xl">Low annual fee</p>
        <p class="text-center text-xs text-gray-600 pb-10">After initial setup</p>
      </div>
      <div class="border-2 border-t-0 rounded-b-lg">
        <h4 class="py-10 px-5">What's included</h4>
        <div class="flex flex-row">
        <ul class="pb-10 px-5">
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>One to three pages</div></li>
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Contact us form</div></li>
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>SEO optimization</div></li>
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Training on how to use dashboard to customize content and ongoing customer support</div></li>
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Great for small businesses with 1-5 employees</div></li>
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Ideal for: restaurants, landscaping, gyms, law firms, automotive repair shops, pest control, pharmacies, medical practices, day cares, handyman services, florists, churches, non-profits</div></li>
        </ul>
        </div>
        <!--spacers-->
        <p class="hidden lg:block"><br></p>
        <p class="hidden lg:block"><br></p>
        <p class="hidden lg:block"><br></p>
        <p class="hidden lg:block"><br></p>
        <p class="hidden lg:block"><br></p>
        <p class="hidden lg:block"><br></p>
      </div>
    </div>

    <!--box2 - E commerce -->
    <div class="mb-10 bg-white lg:w-1/3">
      <div class="border-2 rounded-t-lg">
        <h3 class="font-semibold text-xl p-5">E-Commerce</h3>
        <p class="text-gray-600 py-10 px-5">
          We work with you to create a custom website to accept online payments and orders
        </p>
        <p class="font-bold text-center text-xl">Low monthly fee</p>
        <p class="text-center text-xs text-gray-600 pb-10">After initial setup</p>
      </div>
      <div class="border-2 border-t-0 rounded-b-lg">
        <h4 class="py-10 px-5">What's included</h4>
        <div class="flex flex-row">
        <ul class="pb-10 px-5">
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>One to three static pages and multiple dynamic pages</div></li>
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>SEO optimization and analytics</div></li>
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Training on how to use dashboard to manage inventory, orders, etc. and ongoing customer support</div></li>
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Great for small to medium sized businesses with 3-10 employees</div></li>
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Use cases: scheduling, online ordering, shopping, online classes, downloadable education courses, downloadable content, subscriptions</div></li>
        </ul>
        </div>
        <!--spacers-->
        <p class="hidden lg:block"><br></p>
        <p class="hidden lg:block"><br></p>
        <p class="hidden lg:block"><br></p>
        <p class="hidden lg:block"><br></p>
        <p class="hidden lg:block"><br></p>
      </div>
    </div>

    <!--box3 - Enterprise Software-->
    <div class="mb-10 bg-white lg:w-1/3">
      <div class="border-2 rounded-t-lg">
        <h3 class="font-semibold text-xl p-5">Enterprise Software</h3>
        <p class="text-gray-600 py-10 px-5">
          We work with you to create a custom web application based on your needs
        </p>
        <p class="font-bold text-center text-xl">Low monthly fee</p>
        <p class="text-center text-xs text-gray-600 pb-10">After initial setup</p>
      </div>
      <div class="border-2 border-t-0 rounded-b-lg">
        <h4 class="py-10 px-5">What's included</h4>
        <div class="flex flex-row">
        <ul class="pb-10 px-5">
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Leverage the cloud to help run your business through cloud computing</div></li>
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Customer facing website for customer input, order tracking, and history</div></li>
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Internal web application for business operations</div></li>
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>SEO optimization and analytics</div></li>
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Custom reporting</div></li>
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Training on how to use software and ongoing customer support</div></li>
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Suitable for medium sized businesses with 5 or more employees</div></li>
          <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Functionality: inventory management, customer database, production operations, sales operations, auditing and quality assurance, invoicing and accounting</div></li>
        </ul>
        </div>
      </div>
    </div>
  </div>