<main class="bg-zinc-50 w-full">
  <!--Another container for styling-->
  <div class="py-10 px-10">
    <!--Welcome-->
    <h1 class="font-bold text-4xl">Welcome</h1>
    <p class="py-7">
      My name is Tim Santos and I started the company, Tim Jedrek, to serve small to medium sized businesses create their online presence and implement software solutions.  
    </p>
    <p class="pb-7">
      We specialize in the following: <a href="#webdesign" class="text-red-800 hover:underline">Website Design</a>, <a href="#ecommerce" class="text-red-800 hover:underline">E-Commerce</a>, and <a href="#enterprise" class="text-red-800 hover:underline">Enterprise Software</a>
    </p>

    <!--Website Design-->
    <h2 class="font-bold text-3xl" id="webdesign">Website Design</h2>
    <p class="py-7">
    Websites are an important part of any business and are the digital business card of the company. Getting your name onto the World Wide Web can be challenging and overwhelming so we are here to help!  Whether you are struggling with DIY solutions like Wix, Squarespace, Weebly, Go Daddy, and WordPress or have tried other web design agencies which are difficult to work with; Tim Jedrek is here to get your website up and running.  Your website will truly represent your brand and your company and convert potential customers to completed sales.
    </p>
    <p>
    Tim Jedrek offers two services as a solution to this problem:  <a href="#webdesign-partner" class="text-red-800 hover:underline">The Partnership Package</a> and <a href="#webdesign-exclusive" class="text-red-800 hover:underline">The Exclusive Package</a>.
    </p>

    <!--boxes flex container -->
    <div class="pt-10 flex flex-col lg:flex-row lg:gap-10 lg:justify-center">
      <!--box1 - Partnership Package-->
      <div class="mb-10 bg-white border-2 rounded-lg lg:w-1/3 hover:shadow-xl hover:scale-105 transition ease-in-out transition-shadow" id="webdesign-partner">
        <div class="">
          <h3 class="font-semibold text-xl p-5">Partnership Package</h3>
          <p class="text-gray-600 py-10 px-5">
            Let's become business partners.  We build your website 100% and maintain it.  We are here for you.  
          </p>
          <!--spacers-->
          <p class="hidden lg:block 2xl:hidden"><br></p>
          <p class="hidden lg:block"><br></p>
          <!--pricing-->
          <p class="font-bold text-center text-xl">$150 per month</p>
          <p class="text-center text-gray-500 text-sm pb-10">+ taxes and fees</p>
        </div>
        <hr>
        <div class="">
          <h4 class="py-10 px-5">What's included</h4>
          <div class="flex flex-row">
          <ul class="pb-10 px-5">
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>24/7 365 customer service</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Unlimited revisions</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Logo design</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Photo sourcing</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Contact Form</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Social Media Integration</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Google Maps</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Blog / News / Posts functionality</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Mailing list plugin</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>SEO implementation</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Mobile Responsive</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Domain and hosting</div></li>
            
          </ul>
          </div>
        </div>
      </div>

      <!--box2 - Exclusive Package-->
      <div class="mb-10 bg-white border-2 rounded-lg lg:w-1/3 hover:shadow-xl hover:scale-105 transition ease-in-out transition-shadow" id="webdesign-exclusive">
        <div class="">
          <h3 class="font-semibold text-xl p-5">Exclusive Package</h3>
          <p class="text-gray-600 py-10 px-5">
            We will build your site 100% and give you the tools and training to maintain and operate your site.  You will have full control of your website. 
          </p>
          <p class="font-bold text-center text-xl">$1500 for entire site</p>
          <p class="text-center text-gray-500 text-sm pb-10">+ taxes and fees</p>
        </div>
        <hr>
        <div class="">
          <h4 class="py-10 px-5">What's included</h4>
          <div class="flex flex-row">
          <ul class="pb-10 px-5">
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>24/7 365 customer service</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Unlimited revisions during development</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Logo design</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Photo sourcing</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Contact Form</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Social Media Integration</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Google Maps</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Blog / News / Posts functionality</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Mailing list plugin</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>SEO implementation</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Mobile Responsive</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Training on procuring a domain and host</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Domain Name Server Configuration</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Training to maintain and operate your website after website is completed</div></li>
          </ul>
          </div>
        </div>
      </div>
    </div>

    <!--E-Commerce-->
    <h2 class="font-bold text-3xl" id="ecommerce">E-Commerce</h2>
    <p class="py-7">
    Your customers look online to place orders and schedule appointments.  Let's create a user experience that leads all the way to check out.  Getting your online store online for customers is easier said than done.  If you've tried DIY solutions like Shopify, Square, Wix, Go Daddy, and WooCommerce and you got yourself scratching your head.   Or, if you've tried other E-Commerce agencies and found them difficult to work with; Tim Jedrek is here to get your store online and in front of customers.
    </p>
    <p>
    We offer two services to get your online store up and running:  <a href="#ecommerce-partner" class="text-red-800 hover:underline">The Partnership Package</a> and <a href="#ecommerce-exclusive" class="text-red-800 hover:underline">The Exclusive Package</a>.
    </p>
    <!--boxes flex container -->
    <div class="pt-10 flex flex-col lg:flex-row lg:gap-10 lg:justify-center">
      <!--box1 - Partnership Package-->
      <div class="mb-10 bg-white border-2 rounded-lg lg:w-1/3 hover:shadow-xl hover:scale-105 transition ease-in-out transition-shadow" id="ecommerce-partner">
        <div class="">
          <h3 class="font-semibold text-xl p-5">Partnership Package</h3>
          <p class="text-gray-600 py-10 px-5">
            Let's become business partners.  We build your online store 100% and maintain it.  We are here for you.  
          </p>
          <!--spacers-->
          <p class="hidden lg:block"><br></p>
          <!--pricing-->
          <p class="font-bold text-center text-xl">$225 per month</p>
          <p class="text-center text-gray-500 text-sm pb-10">+ taxes and fees</p>
        </div>
        <hr>
        <div class="">
          <h4 class="py-10 px-5">What's included</h4>
          <div class="flex flex-row">
          <ul class="pb-10 px-5">
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>24/7 365 customer service</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Unlimited revisions</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Logo design</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Photo sourcing</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Product, cart, and checkout pages</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>PayPal or Stripe payment gateways</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Contact Form</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Social Media Integration</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Google Maps</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Blog / News / Posts functionality</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Mailing list plugin</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>SEO implementation</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Mobile Responsive</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Domain and hosting</div></li>
          </ul>
          </div>
        </div>
      </div>

      <!--box2 - Exclusive Package-->
      <div class="mb-10 bg-white border-2 rounded-lg lg:w-1/3 hover:shadow-xl hover:scale-105 transition ease-in-out transition-shadow" id="ecommerce-exclusive">
        <div class="">
          <h3 class="font-semibold text-xl p-5">Exclusive Package</h3>
          <p class="text-gray-600 py-10 px-5">
            We will build your online store 100% and give you the tools and training to maintain and operate your online store.  You will have full control of your online store. 
          </p>
          <p class="font-bold text-center text-xl">$2500 for entire store</p>
          <p class="text-center text-gray-500 text-sm pb-10">+ taxes and fees</p>
        </div>
        <hr>
        <div class="">
          <h4 class="py-10 px-5">What's included</h4>
          <div class="flex flex-row">
          <ul class="pb-10 px-5">
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>24/7 365 customer service</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Unlimited revisions during development</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Logo design</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Photo sourcing</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Product, cart, and checkout pages</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>PayPal or Stripe payment gateways</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Contact Form</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Social Media Integration</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Google Maps</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Blog / News / Posts functionality</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Mailing list plugin</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>SEO implementation</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Mobile Responsive</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Training on procuring a domain and host</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Domain Name Server Configuration</div></li>
            <li><div class="flex flex-row"><div class="text-green-500 pr-3">✓</div>Training to maintain and operate your website after website is completed</div></li>
            
          </ul>
          </div>
        </div>
      </div>
    </div>


    <!--Enterprise Software-->
    <h2 class="font-bold text-3xl" id="enterprise">Enterprise Software</h2>
    <p class="py-7">
      Custom software tailored for your business.  As your business grew the costs and complexity grew with it.  Using multiple platforms, tracking data in Excel, and using paper records becomes burdensome over time.  Tim Jedrek will create your enterprise software to simplify all of your operations.  Whichever industry you are in, we will ensure that your electronic records comply to regulatory requirements.
    </p>
    <p class="pb-7">
      Every business is different and we work with you to understand your operations, procedures, and records.  We explore different options to automate your processes and save you time and money.  We listen to you and implement all of the features you think would be beneficial for your business.
    </p>

    <!--Box with list-->
    <div class="bg-white border-2 rounded-lg">
      <!--Container for sections-->
      <div class="flex flex-col lg:flex-row">
        <!--Leftside / header-->
        <div class="px-5 pt-5 flex flex-col justify-center lg:items-center lg:text-center lg:w-3/5">
          <p class="text-sm">Starting at</p>
          <p class="font-bold text-xl">$300 per month</p>
          <p class="text-gray-500 text-sm pb-10">+ initial setup, taxes, and fees</p>
        </div>

        <!--list-->
        <div class="px-5 pb-10 lg:pt-10">
          <div class="pb-5">
            Some examples of what is possible:
          </div>
          <div class="flex flex-row">
            <div class="text-green-500 pr-3">✓</div>
            <div class="flex flex-col">
              <p>Simplified Admin Dashboard</p>
              <p class="text-sm text-gray-500">Track your KPIs, get an instant overview of your P/L, see outstanding orders. </p>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="text-green-500 pr-3">✓</div>
            <div class="flex flex-col">
              <p>Customer Interface</p>
              <p class="text-sm text-gray-500">Customers can create a profile, place orders, view their order status, and purchase history.  Create a ticketing system to manage customer service.</p>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="text-green-500 pr-3">✓</div>
            <div class="flex flex-col">
              <p>Invoicing and Customer Accounting</p>
              <p class="text-sm text-gray-500">Implement the functionality of accounting software like QuickBooks and truly integrate your financials and customer accounts with your databases.  Remove the requirement to maintain multiple platforms and streamline your business into one software package.</p>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="text-green-500 pr-3">✓</div>
            <div class="flex flex-col">
              <p>Inventory Management</p>
              <p class="text-sm text-gray-500">Create a system to track all of your raw materials and finished products.  Assign item numbers, lots, batches, expiration dates, and more.</p>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="text-green-500 pr-3">✓</div>
            <div class="flex flex-col">
              <p>Auditing</p>
              <p class="text-sm text-gray-500">Create electronic forms for your team members to fill out on a tablet and take it to the production floor.  Generate records and attach photos.</p>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="text-green-500 pr-3">✓</div>
            <div class="flex flex-col">
              <p>Records Database</p>
              <p class="text-sm text-gray-500">Create, edit, delete, and review records.  Sort by names, IDs, dates.  Easily search and find the record you are looking for.  </p>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="text-green-500 pr-3">✓</div>
            <div class="flex flex-col">
              <p>Client / Patient / Lab Information Management System</p>
              <p class="text-sm text-gray-500">Document electronically status, notes, and issues.  Make it easy for your team to enter data into your system.  Arm your team with the tools to make accurate and profitable business decisions.</p>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="text-green-500 pr-3">✓</div>
            <div class="flex flex-col">
              <p>Human Resource Management System</p>
              <p class="text-sm text-gray-500">Manage your employee lifecycle.  Implement systems for talent acquisition, talent management, payroll, and timecards.</p>
            </div>
          </div>

          <div class="flex flex-row">
            <div class="text-green-500 pr-3">✓</div>
            <div class="flex flex-col">
              <p>Maintenance History and Logs</p>
              <p class="text-sm text-gray-500">Create a system to track preventative maintenance records.  Ensure your equipment and your fleet is up to date on mainteance.</p>
            </div>
          </div>


          <div class="flex flex-row">
            <div class="text-green-500 pr-3">✓</div>
            <div class="flex flex-col">
              <p>Customized Reporting</p>
              <p class="text-sm text-gray-500">Data drives the business.  Discover where your business needs attention and where your business is profiting the most from.</p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</main>