<!--Full Page container-->
<div class="flex flex-col lg:flex-row ">
  <!--First section / left section on desktop (navigation) -->
  <%= render "shared/nav" %>

  <!--Main content stuff-->
  <%= render "main" %>

  <!--Footer (mobile only-->
  <%= render "footer" %>
</div>