<div id="<%= dom_id page %>" class="p-10">
  <p class="text-4xl font-bold">
    <%= page.title %>
  </p>

  <p class="text-gray-500">
    <%= page.date.strftime("%B %e, %Y") %>
  </p>

  <p class="my-5">
    <%= page.body %>
  </p>

  <%# if action_name != "show" %>
    <%#= link_to "Show this page", page, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%#= link_to 'Edit this page', edit_page_path(page), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <%# end %>
</div>
