<!--Full Page container-->
<div class="flex flex-col lg:flex-row ">
  <!--First section / left section on desktop (navigation) -->
  <%= render "nav" %>

  <!--Main content stuff-->
  <%= render "main" %>
</div>