<!--Full Page container-->
<div class="flex flex-col md:flex-row">
  <!--First section / left section on desktop (navigation) -->
  <!--###### NEED TO FIX... the bg color doesnt cover all the way if the text overflows screen-->
  <nav class="flex flex-col items-center bg-red-800 h-screen md:w-96">

    <!--Container for Profile pic-->
    <div class="pt-16 px-10">
      <%= image_tag 'main/profile-pic' , class: "w-72 rounded-full border-8" %>
    </div>

    <!--Container for logo-->
    <div class="pt-10">
      <%= image_tag 'main/logo-timjedrek' , class: "w-min invert grayscale brightness-0" %>
    </div>

    <!--Container for words and stuff-->
    <div class="flex flex-col items-center px-6">
      <!--Links-->
      <p class="text-white text-center pt-10">
      Home | Projects | Example Sites | Articles
      </p>
      <!--Small blurb about us-->
      <p class="text-gray-400 pt-10 text-center"> 
      A web development venture assisting small to medium sized businesses grow through website and software solutions.
      </p>
      <!--Social media Icons-->
      <p>
      </p>
    </div>
  </nav>

  <!--Main content stuff-->
  <main>
  </main>
</div>