<p>
Hello <%= @message.name %>,
</p>

<p>
The following message was sent to the team at Tim Jedrek LLC.
</p>
<blockquote>
<em><%= @message.content %></em>
</blockquote>
<p>
We will get back to you shortly.  We're excited to work with you soon!
</p>
<p>
Sincerely,<br>
The team at Tim Jedrek LLC
</p>