<style>
main {
    font-family: arial
}
</style>
<main class="">
  <!--Container for contents-->
  <div class="">
    <h1 class="">Your message has been sent!</h1>
    
    
    
    <h4>Your Message:</h4>
    <em>
      <%= @message.content %>
    </em>
  
    
    <p class="">
    Thank you, <%= @message.name %>, for contacting Tim Jedrek LLC.  We are looking forward to working with you soon.  We will review your message and get back with you within 1-5 business days.  <br><br>
    You can also give us a call at 1-314-358-2100 or email us at <%= mail_to 'support@timjedrek.com'%>
    </p>

    <%= link_to root_url do %>
    <div class="">
        Visit the Tim Jedrek Site
    </div>
    <% end %>
  
  </div>
</main>